# Ignore build artifacts and state files
.boot*
build
sources
chroot
sanity
sysroot
src
.compiler-rt
.libcxx
.libunwind
.linux-headers
.mksh
.busybox
.musl
.musl-headers
.toybox
.tblgen
.llvm
.etc
.make
.openssl
.zlib-ng
.cryptlib
.libedit
.ncurses
.oniguruma
.libatomic
.dash
.libgcc
.rust
.uutils
.util-linux
.muslpatched
.curl
.pkgconf
.libexecinfo
.sqlite
.uutilspatched
.llvmbuilt
.buildagain
.update
*.tar.gz
.rustpatched
.sed
.amp