.fetched
.boot*
build
sources
chroot
sanity
sysroot
src
.compiler-rt
.libcxx
.libunwind
.linux-headers
.mksh
.busybox
.musl
.musl-headers
.toybox
.tblgen
.llvm
.etc
.make
.openssl
.zlib-ng
.cryptlib
.libedit
.ncurses
