.fetched
.boot*
build
sources
chroot
sanity
sysroot
src
.busybox
.compiler-rt
.fetched
.libcxx
.libunwind
.linux-headers
.llvm
.mksh
.musl
.musl-headers
.tblgen
.toybox
.dirs
.etc
.bmake
.ncurses
.curl
.zlib-ng
.openssl
.openssl-stage1
.libarchive
.byacc
.samurai
.libexecinfo
.libiconv
.openpam
.doas
.pkgconf
.om4
.xbps
.pgit
.cmake
.flex
.libbsd
.libmd
.libunwind
.musl-fts
.openpam
.m4
.perl
